{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration Form</title>
     <link rel="stylesheet" type="text/css" href="{% static 'register.css' %}">
</head>

<body>
    <div class="container">
        <div class="form">
            <header>Signup</header>
            <form action="{% url 'signup' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username">
                <input type="text" name="email" placeholder="Enter your email">
                <input type="password" name="password1" placeholder="Create a password">
                <input type="password" name="password2" placeholder="Confirm your password">
                <input type="submit" class="button" value="Signup">
            </form>
            <div class="signup">
                <span class="signup">Already have an account?
                    <a href="{% url 'login' %}" style="color:white">Login</a>
                </span>
            </div>
        </div>
    </div>
</body>

</html>
